*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin:20px auto;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(6, 6, 44);
    color: #fff;
    width: 100%;
    padding: 10px 0;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.gallery img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    object-position:center;
    margin: 3px;
    border: 3px solid rgb(82, 78, 78);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.gallery:hover img{
    cursor: pointer;
}